{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>About</h1>
</div>
<p>Protein-protein interaction (PPI) data is commonly used to build protein-protein interaction graphs (PINs)
  that allow us to examine the relationships and shared properties of many proteins within an experimental/biological
  system. These PINs, when subject to network and functional analysis, give rise to new biological insight and can
  identify proteins that are crucial to the system. In order to facilitate a richer and better structured environment
  for storing, querying and analysing protein-protein interaction data we have develop a semantic oriented system using
  the Resource Description Framework and it's associated query language SPARQL. This will enable work with a more
  complete set of meta-data associated with observed interactions between proteins and other biological data types.</p>
{% endblock %}